.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    text-align: center;
    margin: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}